# Misc files/folders.
**/.DS_Store
/.vscode/
/__pycache__/

# Data.
/google_wiki40b

# Models.
/bert-base-uncased
/google_mobilebert-uncased
/distilbert_distilbert-uncased
/bert-large-uncased
/sentence-transformers_all-MiniLM-L6-v1
/sentence-transformers_all-MiniLM-L6-v2
/sentence-transformers_all-MiniLM-L12-v1
/sentence-transformers_all-MiniLM-L12-v2
/sentence-transformers_paraphrase-MiniLM-L3-v2
/sentence-transformers_paraphrase-MiniLM-L6-v2
/sentence-transformers_paraphrase-MiniLM-L12-v2
/sentence-transformers_all-roberta-large-v1
/sentence-transformers_all-distilroberta-v1
/sentence-transformers_multi-qa-MiniLM-L6-dot-v1
/sentence-transformers_multi-qa-MiniLM-L6-cos-v1
/hkunlp_instructor-base
/hkunlp_instructor-large
/hkunlp_instructor-xl
/google_flan-t5-small
/google_flan-t5-base
/google_flan-t5-large
/google_flan-t5-xl
/google_flan-t5-xxl
/google_flan-ul2
/google_flan-ul2-base
/google_flan-ul2-large

# Vector DB.
/vector_data